@media(max-width:768px){

.hero h1{

font-size:40px;
}

.hero p{

font-size:18px;
}

.navbar{

flex-direction:column;

gap:20px;
}

.hero-buttons{

display:flex;

flex-direction:column;

gap:15px;
}

.btn-secondary{

margin-left:0;
}

.auth-card{

width:90%;
}

}